
{% extends 'navigationbar.html' %}

{% block body %}
 {% load static %}
<div class="container" style="margin-top:50px">
<h2 class="text-center">About Us</h2>
 <br><br><br><br>

 <div class="row">
  <div class="col-sm-4 text-center">
   
   <img src="{% static 'images/about.jpg' %}" width="300" height="200" class="img-responsive">

  </div>
  <div class="col-sm-8 font-weight-bold mt-5">
  Hello Everyone . . . <br>
   This is a simple Hospital Management System Project Developed
   by Monjurul Islam Bappy using Html, CSS, javascript, Bootstarp , Python Django amd Sqllite.
  </div>
 </div>

</div>

{% endblock %}