{% extends 'navigationbar.html' %}

{% block body %}
 {% load static %}

<style>

 .mydivstyle:hover{
box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
transform:translatelY(-20px);
}

</style>
<div class="container" style="margin-top:50px">
<h2 class="text-center">Contact Us</h2>
 <br><br>

 <div class="row mt-5 text-center">
  <div class="col-lg-3 col-sm-6 mydivstyle">
   <h4><i class="fas fa-phone-square"></i> Contact</h4>
   <p class="mt-3 font-weight-bold"><a class="text-danger" href="tel:+88 01682269024">+88 01682269024</a></p>
  </div>

   <div class="col-lg-3 col-sm-6 mydivstyle">
   <h4><i class="fas fa-envelope"></i> Send Email </h4>
   <p class="mt-3 font-weight-bold"><a class="text-danger" href="mailto:bappymonjurulislam@gmail.com">bappymonjurulislam@gmail.com</a></p>
  </div>

   <div class="col-lg-3 col-sm-6 mydivstyle">
   <h4><i class="fas fa-address-card"></i> Office Address </h4>
   <p class="mt-3 font-weight-bold"><a class="text-danger"  href="https://maps.google.com/maps?q=House+31+Block+A+Road+4+Banassree+Rampura+Dhaka">House 31,Block A,Road 4,Banassree,Rampura,Dhaka</a></p>
  </div>

  <div class="col-lg-3 col-sm-6 mydivstyle">
   <h4><i class="fas fa-address-card"></i> Office Hours</h4>
   <p class="mt-3 font-weight-bold text-danger">9:00 AM to 7:00 PM</p>
  </div>

 </div>
</div>

{% endblock %}